/* ▼共通設定(global.css以外は共通)▼ */
:root {
--theme-color-navy: #000080;

--theme-color-azure: #f0ffff;

--theme-color-orange: #ffa500;

--color-black: #000000;

--white-alternative: #f8f8ff;

--center-max-width: 1000px;
--center-min-width: 700px;
}
/* ▲共通設定▲ */

h1 {
    font-size: 24pt;
    margin-bottom: 5px;
}

body {
    font-size: 11pt;
    background-color: var(--theme-color-azure);
}

header {
    min-width: var(--center-min-width);
    color: var(--theme-color-navy);
}

/* ヘッダーメニュー*/
/* メインメニュー */

.main-menu {
    min-width: var(--center-min-width);
    background-color: var(--theme-color-navy);
}

.main-menu ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
.main-menu ul > li{
    display: inline-block;
}
.main-menu ul > li > a{
    display: block;
    padding: 15px 15px;
    font-size: 12pt;
    color: var(--white-alternative);
    text-decoration:none;
}
.main-menu ul > li:hover > a{
    color: var(--color-black);
    background-color: var(--white-alternative);
}

/* サブメニュー */
.main-menu ul li ul{
    display: none;
}
.main-menu ul li:hover ul{
    display: block;
}
.main-menu ul li ul{
    position: absolute;
    padding:0;
}
.main-menu ul li ul li{
    display: block;
    background-color: var(--theme-color-navy);
    border-bottom:1px solid var(--white-alternative);
}
.main-menu ul li .main-menu ul li a{
    text-decoration:none;
    color: var(--white-alternative);
}
.main-menu ul li ul li a:hover{
    color: var(--color-black);
    background-color: var(--white-alternative);
}

.base-panel {
    max-width: var(--center-max-width);
    min-width: var(--center-min-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

.left-panel {
    box-sizing: border-box;
    float: left;
    width: 30%;
    padding: 10px;
}
 .right-panel {
    box-sizing: border-box;
    float: right;
    width: 70%;
    padding-left: 5px;
}

.label {
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    font-size: 16pt;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--theme-color-orange);
}

.box-srcollbar {
    overflow:auto;
    height: 500px;
    padding:5px;
    font-size:12px;
    background-color: var(--white-alternative);
}

.padding-list {
    padding-left: 4em;
    text-indent: -4em;
}


/* タブメニュー */
.left-menu-tab ul {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}
.left-menu-tab li {
    display: inline;
    padding: 0;
    margin: 0; 
}
.left-menu-tab li a{
    width: 100%;
    padding: 15px 0px;
    margin: 0;
    display: block; 
    border-bottom: 1px solid var(--white-alternative);
    background-color: var(--theme-color-navy);
    text-decoration: none;
    color: var(--white-alternative);
    text-align: center;
    font-size: 14px;
}
.left-menu-tab ul > li:hover > a{
    color: var(--color-black);
    background-color: var(--white-alternative);
}